{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-start">
        {% for form in image_items %}
            {% if form.image_type == "logo" %}
                <div class="col-lg-3 col-md-6 mb-4 ">
                    <div class="card h-100 shadow-sm border-0 cinema-hover-card border-0 text-white" style="border-radius: 15px; background-color: #212529; overflow: hidden; position: relative;">
                        <div class="logo-container mb-3" style="height: 450px; width: 100%">
                            <a href="{% url 'film_page' form.images_info.id %}">
                                <img src="{{ form.image.photo.url }}"
                                     class="d-block w-100 h-100 gallery-img"
                                     style="height: 350px; object-fit: cover;"
                                     alt="{{ form.images_info.name }}">
                            </a>
                        </div>
                        <div class="card-body d-flex flex-column align-items-center text-center p-4">
                            <h5 class="fw-bold mt-auto">
                                <a href="{% url 'film_page' form.images_info.id %}" class="text-decoration-none stretched-link" style="color: #ffffff">
                                    {{ form.images_info.name }}
                                </a>
                            </h5>
                            <a href="#" class="btn btn-success btn-sm" style="margin-top: 20px">
                                <i class="bi bi-plus-lg"></i> {% trans 'Купити Білет' %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>




{% endblock %}